@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

<<<<<<< Updated upstream
=======
.container{font-family: sans-serif;}

ul{list-style-type: none;}

a{text-decoration: none;}

header .cart .wrapper{
  max-width: 742px;
  width: 58%;
  margin: 0 auto;
}
header  .cart { 
  width: 100%;
  background-color: #000;
}

.cart .wrapper form{
  display: inline-block;
}
.cart .wrapper ul{
  width: 29%;
  margin-left: 25px;
  display: inline-block;
}
.cart .wrapper ul li{
  padding: 16px 0 16px;
  width: 31%;
  display: inline-block;
  
}
.cart .wrapper ul li a{
  color: white;
  font-size: 12px;
  text-transform: capitalize;
}
.cart .wrapper ul li:first-child:before{
  content: "\f2bd";
  color: white;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
}
.cart .wrapper ul li:nth-child(2):before{
  content: "\f004";
  color: white;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  
}
.cart .wrapper ul li:nth-child(3):before{
  content: "\f2f5";
  color: white;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
}

.cart ul li:hover a{
background-color: white;
color: black;
}

header .cart .wrapper form{
  position: relative;
}
header .cart .wrapper form input{
  background-color: transparent;
}

header .cart .wrapper form:after{
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 0;
  right: 25px;
  color: white;
}

.cart .wrapper > a{
  padding: 18px 0 16px;
  float: right;
  color: white;
  font-size: 12px; 
}

.cart .wrapper > a:after{
content: '\f291';
color: yellow;
font-family: "Font Awesome 5 Free";
}

.amber{ background-color:#363636; }

.amber .wrapper{
  width: 58%;
  margin: 0 auto;
}
.wrapper h1{ 
  text-indent: -9999px;
display: inline-block;}

.wrapper h1 a img{
  padding-bottom: 21px;
  float:left;}

.wrapper nav{
  width: 74%;
  margin-left: 87px;
  display: inline-block;
}
nav ul{width: 100%;}

nav ul li{
  padding: 21px 0;
  width: 13%;
  margin-left: -5px;
  border-top: 5px solid transparent;
  display: inline-block;
  text-align: center;

}
nav ul li a{

  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

nav ul li:nth-child(1){  border-top-color: #ffa732;}
nav ul li:nth-child(2){  border-top-color: #ff6b22;}
nav ul li:nth-child(3){  border-top-color: #f01b5c;}
nav ul li:nth-child(4){  border-top-color: #b2238b;}
nav ul li:nth-child(5){  border-top-color: #682e89;}
nav ul li:nth-child(6){  border-top-color: #302e6f;}
nav ul li:nth-child(7){  border-top-color: #0091c5;}

nav ul li:hover{background-color: white;}

nav ul li:hover a{color: black;} 

.banner{position: relative;}

.banner > img{width: 100%;}

.banner .wrapper{
  width:58%;
  margin: 0 auto; 
}

.banner .wrapper .portfolio{
  width: 58%;
  position: absolute;
  top: 150px;
  }

.portfolio h2{
  display: inline-block;
  color: white;
  font-size: 30px;}

.portfolio ul{
  display: inline-block;
  float: right;  
  }

.portfolio ul li{
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.portfolio ul li a{
  color: #fff;
  font-size: 11px;
  text-transform: capitalize;
}

.portfolio ul li:hover{
  background-color: #000;
}

.portfolio ul li:nth-child(n):nth-child(-n+3):after{
  content: "/";
   padding-left: 5px;
  padding-top: 5px;
  color: white;
  position: absolute;
  top: -2px;
 
}

.gallery .wrapper{
width: 58%;
margin: 0 auto;
}

.gallery .wrapper p{
  width: 100%;
  margin-top: 42px;
  margin-bottom: 37px;
  font-size: 12px;
}

.filter .menu li{
  padding-top: 5px;
  border-top: 3px solid transparent;
  margin-left: -5px;
  margin-right: 15px;
  margin-bottom: 25px;
  display: inline-block;
  color:#00b5a9;
  font-size: 12px;
  text-transform: capitalize;
}

.menu li:hover{border-top: 3px solid #ebebeb;}

.photos .view-all > ul >li{
  width: 30%;
  margin-left: -5px;
  margin-right: 23px;
  margin-bottom: 25px;
  display: inline-block;
  position: relative;
}

.photos .view-all > ul> li>img{
  width: 100%;
}

.view-all .post{
  padding: 18px 0 18px;
  width: 100%;
  position: absolute;
  top: 168px;
  background-color:#3f3f3f; 
}

.post h4{
  margin-left: 10px;
  color: white;
  font-size: 12px;
  text-transform: capitalize;
}

.post span{
   margin-left: 10px;
  color: #329384;
  font-size: 10px;
  text-transform: capitalize;

}

.post h4:after{
  content: "\f004";
  float: right;
  margin-right: 10px;
  color: white;
  font-size: 10px;
  font-family: "Font Awesome 5 Free";
}

.post span:after{
  content: "267";
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: #329384;
  font-size:10px;

}

.view-all .overlay{
  position: absolute;
  top: 60px;
  left: 95px;
  opacity: 0;
}

.view-all > ul> li>img:hover{
  opacity:0.2; 
}

.view-all  .overlay:hover{opacity:1;}

.view-all > ul> li>.post:hover{display: none;}

.gallery .wrapper > a{
    margin:46px 0 76px;
    position: relative;
    display: block;
    text-align: center;
    color: #329384;
}

.gallery .wrapper > a:after{
  content: "\f0dd";
  position: absolute;
  top:25px;
  left: 375px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 15px;

}

footer {
  margin-top: 78px;
  background-color: #232e35;
}

footer .wrapper{
  width: 58%;
  margin: 0 auto;
}

footer .wrapper div:nth-child(n):nth-child(-n+4){
  width: 25%;
  float: left;
  display: inline-block;
  margin-bottom: 150px;
}

footer .wrapper div h4{
  margin-top: 60px;
  margin-bottom: 34px;
  color: white;
  font-size: 20px;
}

footer .wrapper div:nth-child(1){border-top: 12px solid #7937a3;}

footer .wrapper div:nth-child(2){border-top: 12px solid #0091c6;}

footer .wrapper div:nth-child(3){border-top: 12px solid #e71a58;}

footer .wrapper div:nth-child(4){border-top: 12px solid #ffa833;}

.get-in-touch ul li address{
  margin-bottom: 30px;
font-size: 11px;
color: white;
}

.get-in-touch ul li address:before{
  content: "\f3c5";
  padding-right:  5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 15px;
  
}

.get-in-touch ul li{ margin-top: 31px;}

.get-in-touch ul li a{
  font-size: 11px;
  color: white;
}

.get-in-touch ul li:nth-child(2):before{
content: "\f095";
padding-right:  5px;
color: white;
font-family: "Font Awesome 5 Free";
font-weight: 700;
font-size: 15px;
}

.get-in-touch ul li:nth-child(3):before{
content: "\f0e0";
padding-right:  5px;
color: white;
font-family: "Font Awesome 5 Free";
font-weight: 700;
font-size: 15px;
}

.latest-tweets ul li p{
  width: 85%;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 10px;
  line-height: 15px;
}

.latest-tweets ul li p span{
  color:#00b5a9;
  font-size: 10px;
}

.latest-tweets ul li:before{
  content: "\f099";
  padding-right: 5px; 
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 15px;
}

.latest-tweets ul li>span{
  color: white;
  font-size: 10px;
  display: block;
  text-align: right; 
}

.follow-us ul li{margin-top: 12px;}

.follow-us ul li a{
  color: white;
  font-size: 13px;
  text-transform:capitalize;
}

.follow-us ul li:nth-child(1):before{
  content: "\f39e";
  padding-right: 5px;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  font-weight: 700;
}

.follow-us ul li:nth-child(2):before{
  content: "\f39e";
  padding-right: 5px;
  color: white;
  font-family: "Font Awesome 5 Free Brands";
  font-weight: 400;
  font-size: 35px;
}

.follow-us ul li:nth-child(3):before{
  content: "\f39e";
  padding-right: 5px;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
}

.follow-us ul li:nth-child(4):before{
  content: "\f39e";
  padding-right: 5px;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
}

.follow-us ul li:nth-child(5):before{
  content: "\f39e";
  padding-right: 5px;
  color: white;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
}

.popular-post ul li{margin-bottom: 25px;}

.popular-post ul li span{
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;

}

.popular-post ul li p{
  margin-top: 10px;
  color: #00b5a9;
  font-size: 11px;
  line-height: 15px;
}

.lower-footer span{
  width: 30%;
  margin-bottom: 35px;
  display: inline-block;
  color: white;
  font-size: 12px;
  line-height: 20px;

}

.lower-footer a{
  padding: 9px 11px;
  border:2px solid #00b5a9;
  float:right;
  color: white;
  font-size: 11px;
  text-transform: capitalize;

}

.lower-footer a:after{
  content: "\f106";
  padding-left: 10px;
  color: #00b5a9;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 15px;
}

